.settings {
	max-width: 95vw;
	width: 350px;
	padding: 1rem 1.25rem;
	border-radius: 8px;

	background: rgba(22, 37, 33, 0.35);
	box-shadow: 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 8px 0px #c0e0deab;
	backdrop-filter: blur(6.8px);
	-webkit-backdrop-filter: blur(6.8px);

	color: var(--color-ice-blue);
}

.settings__input {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
