.color_picker {
	background-color: var(--color-mint-green);
	color: var(--color-outer-space);
	padding: 1rem;
	width: 300px;
	border-radius: 0.5rem;
	font-weight: 500;
}

.color_picker__heading {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
.color_picker:not(.color_picker--inactive) .color_picker__heading {
	display: none;
}

.color_picker__options li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.25rem;
	border-radius: 0.5rem;
}
.color_picker.color_picker--inactive li button:last-child {
	display: none;
}
.color_picker:not(.color_picker--inactive) li:not(.li--active) {
	display: none;
}

.color_picker__options li:hover {
	background-color: #9FD0CD;
}
.color_picker__options li.li--active:hover {
	background-color: transparent;
}

.color_picker__options button {
	display: flex;
	gap: 1rem;
	text-align: left;

	background-color: transparent;
	border: none;
	cursor: pointer;
}

.color_picker__options__info p:first-child {
	font-weight: 500;
	font-size: 1rem;
}

.color_picker__options__sample {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
}
