:root {
	--color-steel-blue: #4f7cac;
	--color-mint-green: #c0e0de;
	--color-gun-metal: #162521;
	--color-outer-space: #3c474b;
	--color-ice-blue: #9eefe5;

	font-size: 18px;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	background-color: var(--color-gun-metal);
	color: white;
}

body * {
	font-family: "Ubuntu", sans-serif;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--color-outer-space);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-gun-metal);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-gun-metal);
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-gun-metal) var(--color-outer-space); /* thumb track */
}
