.app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.app__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: flex-start;
}

.app__grid {
	overflow: auto;
	margin: 1rem;
	max-width: calc(100vw - 4rem);
}

.app__help__wrapper,
.app__settings__wrapper {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
}

.app__settings__wrapper {
	left: auto;
	right: 2rem;
}

.app__fab {
	background-color: var(--color-gun-metal);
	outline: none;
	border: none;
	color: var(--color-ice-blue);
	padding: 0.4rem;
	border-radius: 100px;
	transition: transform 0.25s ease-in;
}

.app__fab:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.25s ease-out;
}
